<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="app.example.shoppinglist" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Shopping List</name>
  <description>
        A simple app which helps to Manage shopping list. Allows to edit the item, mark the item completed. Also let the item deleted if no more required.
    </description>
  <author email="rajesh.allagi@gmail.com" href="http://example.com.com/">
      Rajesh Allagi
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>